@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 33% 93%;
    --foreground: 15 30% 12%;
    --card: 0 0% 100%;
    --card-foreground: 15 30% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 15 30% 12%;
    --primary: 4 64% 45%;
    --primary-foreground: 30 33% 93%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 15 30% 12%;
    --muted: 30 20% 88%;
    --muted-foreground: 15 10% 40%;
    --accent: 27 87% 51%;
    --accent-foreground: 30 33% 93%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 15 20% 85%;
    --input: 15 20% 85%;
    --ring: 4 64% 45%;
    --radius: 0.25rem;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: #1a120b;
    color: #f4f1ea;
    overflow-x: hidden;
  }

  html.lenis, html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }
}